<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <p>Liu Dailin and Liu Minghao</p>
    <p>76397 and 75990</p>
{#    <img src="https://cdn.jsdelivr.net/gh/dadadahhh/IMAGE/image/202312221038102.jpg" alt="Liu Dailin" width="100">#}
{#    <img src="https://cdn.jsdelivr.net/gh/dadadahhh/IMAGE/image/202312200940197.jpg" alt="Liu Minghao" width="100">#}
    <img src="../static/Liu.jpg" alt="Liu Dailin" width="100">
    <img src="../static/Liu2.jpg" alt="Liu Minghao" width="100">
</div>

</body>
</html>